<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conectarse a la Red</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h2>SALON DE EVENTOS </h2>
    <form class="form" action="/" method="POST">
        <p class="form_input">
            <label for="nombre" class="form_label">NOMBRE</label>
            <input type="text" name="name" id="nombre" class="title">
        </p>

        <p class="form_input">
            <label for="telefono" class="form_label">TELEFONO</label>
            <input type="text" name="phone" id="telefono" class="title">
        </p>

        <p class="form_input">
            <label for="correo" class="form_label">CORREO ELECTRONICO</label>
            <input type="text" name="email" id="correo" class="title">
        </p>

        <button type="submit" class="form_submit"> Conectarse a la Red</button>
    </form>


</body>
</html>
